In [2]:
import numpy as np
import pandas as pd
import ast

In [3]:
movies =pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [4]:
movies.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [5]:
movies=movies.merge(credits,on='title')

In [6]:
movies.shape

(4809, 23)

In [7]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [8]:

movies=movies[['movie_id','title','overview','genres','keywords','cast','crew','production_companies']]

In [9]:
movies.isnull().sum()
movies.dropna(inplace=True)

In [10]:
movies.iloc[0].production_companies

'[{"name": "Ingenious Film Partners", "id": 289}, {"name": "Twentieth Century Fox Film Corporation", "id": 306}, {"name": "Dune Entertainment", "id": 444}, {"name": "Lightstorm Entertainment", "id": 574}]'

In [11]:

def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L;

In [12]:

def convert1(obj):
    L=[]
    count=1
    for i in ast.literal_eval(obj):
        if(count !=0):
            L.append(i['name'])
            count=0
        else:
            break
    return L

In [13]:
movies['genres']=movies['genres'].apply(convert)

In [14]:
movies['keywords']=movies['keywords'].apply(convert)

In [15]:
movies['production_companies']=movies['production_companies'].apply(convert1)

In [16]:
def convert4(obj):
    L=[]
    counter=4
    for i in ast.literal_eval(obj):
        if(counter):
            L.append(i['name'])
            counter-=1
        else:
            break
    return L

In [17]:
movies['cast']=movies['cast'].apply(convert4)

In [18]:
def extractcrew(obj):
    L=[]
    for i in ast.literal_eval(obj):
        x=i['job']
        if(x=="Producer" or x=="Director"):
            L.append(i['name'])
    L=(list(set(L)))
    return L

In [19]:
movies['crew']=movies['crew'].apply(extractcrew)

In [20]:
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew,production_companies
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Jon Landau, James Cameron]",[Ingenious Film Partners]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Pat Sandston, Chad Oman, Jerry Bruckheimer, E...",[Walt Disney Pictures]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[Michael G. Wilson, Barbara Broccoli, Sam Mendes]",[Columbia Pictures]

In [21]:
movies['overview']=movies['overview'].apply(lambda x: x.split())

In [22]:
def remove1(obj):
    test_list = [i for i in obj if len(i)>2]
    return test_list

In [23]:
movies['overview']=movies['overview'].apply(remove1)

In [24]:
movies.head(5)

,movie_id,title,overview,genres,keywords,cast,crew,production_companies
0,19995,Avatar,"[the, 22nd, century,, paraplegic, Marine, disp...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Jon Landau, James Cameron]",[Ingenious Film Partners]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, dead,, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Pat Sandston, Chad Oman, Jerry Bruckheimer, E...",[Walt Disney Pictures]
2,206647,Spectre,"[cryptic, message, from, Bond’s, past, sends, ...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[Michael G. Wilson, Barbara Broccoli, Sam Mendes]",[Columbia Pictures]
3,49026,The Dark Knight Rises,"[Following, the, death, District, Attorney, Ha...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[Emma Thomas, Christopher Nolan, Charles Roven]",[Legendary Pictures]
4,49529,John Carter,"[John, Carter, war-weary,, former, military, c...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[Jim Morris, Colin Wilson, Lindsey Collins, An...",[Walt Disney Pictures]

In [25]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])
movies['overview']=movies['overview'].apply(lambda x:[i.replace(" ","") for i in x])
movies['production_companies']=movies['production_companies'].apply(lambda x:[i.replace(" ","") for i in x])

In [26]:
movies['tags']=movies['genres']+movies['keywords']+movies['cast']+movies['crew']+movies['overview']+movies['production_companies']

In [27]:
movies= movies[['movie_id','title','tags']]

In [28]:
movies.head(10)

,movie_id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,Spectre,"[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, basedonnov..."
5,559,Spider-Man 3,"[Fantasy, Action, Adventure, dualidentity, amn..."
6,38757,Tangled,"[Animation, Family, hostage, magic, horse, fai..."
7,99861,Avengers: Age of Ultron,"[Action, Adventure, ScienceFiction, marvelcomi..."
8,767,Harry Potter and the Half-Blood Prince,"[Adventure, Fantasy, Family, witch, magic, bro..."
9,209112,Batman v Superman: Dawn of Justice,"[Action, Adventure, Fantasy, dccomics, vigilan..."

In [29]:
movies['tags']=movies['tags'].apply(lambda x:" ".join(x))

In [30]:
movies['tags']=movies['tags'].apply(lambda x:x.lower())

In [31]:
movies['tags'][0]

'action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver stephenlang jonlandau jamescameron the 22nd century, paraplegic marine dispatched the moon pandora unique mission, but becomes torn between following orders and protecting alien civilization. ingeniousfilmpartners'

In [32]:
import nltk

In [33]:
from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()

In [34]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [35]:
movies['tags']=movies['tags'].apply(stem)

In [36]:
movies['tags'][0]

'action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav stephenlang jonlandau jamescameron the 22nd century, parapleg marin dispatch the moon pandora uniqu mission, but becom torn between follow order and protect alien civilization. ingeniousfilmpartn'

In [37]:
from sklearn.feature_extraction.text import CountVectorizer

cv=CountVectorizer(max_features=3000 ,stop_words="english")
vectors=cv.fit_transform(movies['tags']).toarray()

In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfid=TfidfVectorizer(max_features=3000 ,stop_words="english")
vect=tfid.fit_transform(movies['tags']).toarray()

In [39]:

vect[0]

array([0., 0., 0., ..., 0., 0., 0.])

In [40]:
from sklearn.metrics.pairwise import cosine_similarity

In [41]:
similarity=cosine_similarity(vect)

In [42]:
def recommend(movie):
    movie_index=movies[movies['title']==movie].index[0]
    distances=similarity[movie_index]
    movie_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:7]

    for i in movie_list:
        print(movies.iloc[i[0]].title)

In [43]:
recommend("Avatar")

Falcon Rising
Aliens vs Predator: Requiem
Aliens
Battle: Los Angeles
Lifeforce
Apollo 18

In [44]:
import pickle
pickle.dump(movies.to_dict(),open('moviesd.pkl','wb'))

In [45]:
pickle.dump(similarity,open('similarity.pkl','wb'))